<div class="container" style="display: flex;">
  <!-- Sidebar with options -->
  <div class="sidebar" style="width: 250px; padding: 16px; background-color: #f1f1f1;">
    <h3>Nearby Places Finder</h3>

    <select [(ngModel)]="selectedType" (change)="onPlaceTypeChange()" style="width: 100%;">
      <option value="" disabled selected>Select a type</option>
      <option value="restaurant">Restaurants</option>
      <option value="hospital">Hospitals</option>
      <option value="atm">ATMs</option>
    </select>
  </div>

  <!-- <button (click)="getLocation()">Get Current location</button> -->
  <div id="map" style="height: 500px; width: 100%;"></div>
</div>